<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>SAG CODE</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="Foto SAG">
            <h1>Guilherme Souza</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="http://www.linkedin.com/in/guilhermedevsouza/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="http://github.com/guilhermebencici">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="http://twitter.com/GBencici">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <i class="bi bi-house"
                            aria-hidden="true"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> <i class="bi bi-file-earmark"
                            aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> <i class="bi bi-collection"
                            aria-hidden="true"></i>
                        Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> <i class="bi bi-envelope" aria-hidden="true"></i>
                        Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">

            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">

                <h2 class="text-white text-shadow">Gui Souza</h2>
                <span id="subtitle" class="text-white text-shadow">A obsessão ganha do talento!</span>

            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">

                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href=""> Arraste para mais</a>

                </div>

            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Olá, como vão?! (espero que bem) 😊

                        Durante anos lutei muito por um sonho e o realizei, infelizmente, pelo momento atual precisei
                        abrir mão dele. E quem diria, ao realocar meu foco, descobri uma nova paixão: Desenvolvimento de
                        Sistemas (estou amando e estudando -muito-).
                        Comecei pelo Front, aprendendo HTML, CSS e JS e estou curtindo muito! Entretanto, atualmente, me
                        envolvi em um projeto concedido pela Anima educação em parceria com a Gama Academy, e com isso,
                        tenho desenvolvido a parte de Back, utilizando a C# (.Net), integrando API WEB e Banco de dados
                        (MySql).
                        Tem sido muuuuuuito gratificante e não vou mentir, difícil e trabalhoso, mas é algo que tenho
                        feito com paixão e muita dedicação!
                        Sobre o sonho? Ficou curioso?
                        Envolve muito estudo e dedicação e abrir mão dele, mostra que quando necessário, eu abdico do
                        individual em prol do coletivo! (Bora conversar que eu te conto tudiiinho) </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/eubonito.jpg" alt="Foto do Gui">
                </div>
                <div class="cow-md-8">
                    <h3>Desenvolvedor Jr</h3>
                    <p>Atualmente sou desenvolvedor full stack na Anima Edução e,
                        como tenho atuado em sistema legado, preciso utilizar mais que uma linguagem.
                        No front posso
                        utilizar PHP ou JavaScript e no Back
                        PHP ou CSharp.
                        Em banco de dados, estou atuando com o com SQL, dentro do Oracle e Postgree
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>